





.main-selectproduct{
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.orderBy-title h1{
    font-weight: bold;
    color: rgb(77, 98, 98);
}

.main-product-orderedBy{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
    width: 25%;
    height: 90%;
}

.main-product-and-resturant-Info{
    width: 70%;
    height: 90%;
}

.orderByprice{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.orderByprice label{
    font-weight: bold;
    color: rgb(102, 114, 122);
}


.orderByfoodtype{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.orderByfoodtype label{
    font-weight: bold;
    color: rgb(102, 114, 122);
}

.orderByoccasion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.orderByoccasion label{
    font-weight: bold;
    color: rgb(102, 114, 122);
}

/* seocnd side code */



.main-food-details{
    width: 90%;
    height: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 10px;
}


.hotelInfo{
    margin: 10px;
    width: 79%;
    height: 150px;
    display: flex;
    align-items: center;
}


.hotel-image{
    width: 40%;
    height: 100%;
  
}

.hotel-image img{
    width: 100%;
    height: 100%; 
}

.productInfo {
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.productInfo p,h1{
    margin: 0px;
}


.buy-button{
    width:100px;
    padding: 10px;
    background-color: rgb(244, 92, 65);
    font-weight: 700;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.hotel-name h1,p{
    color: rgb(94, 120, 94);
    margin: 0px;
    font-weight: 900;
}

.productInfo p{
    margin: 0px;
    font-weight: 800;
}


.count {
    height: 20px;
    width: 20px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgb(36, 199, 231);
    color: white; /* Add some text color for visibility */
    cursor: pointer;
}


@media(max-width:600px){
    .main-product-and-resturant-Info{
        width: 50%;
    }

    .main-product-orderedBy{
        width: 50%;
    }

  
}